* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    align-items: center;
}

.title {
    margin-top: 10rem;
    margin-right: 10rem;
    padding: 10rem;
}

.container {
    margin-top: 15rem;
    margin-right: 5rem;
}

.abstract {
    margin-bottom: 5rem;
}

