* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
  }

body {
    display: flex;
    background-color: #EAEDF0;
    height: 100vh;
}

.picture {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./background.jpg);
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(105,105,105, 0.1);
    margin-top: 300px;
    margin-bottom: 20px;
}

.credit {
    display: inline;
    margin-left: 10%;
    margin-bottom: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    padding: 20px;
    background-color: #FFFFFF;
    appearance: none;
    box-shadow: 0px 5px 5px lightgrey;
    margin: 10px 0;
}

.container button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.form-row label{
    display: block;
}

.form-row {
    margin-bottom: 25px;
    margin-left: 30px;
    display: inline-block;
    width: 40%;
}

h2, .container p, .container a{
    display: block;
    margin: 10px 200px 10px 50px;
 }

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
  width: 100%;
  max-width: 85%;
  box-sizing: border-box;
}

form h2 {
    margin: 30px;
    color: orange;
}

a {
    text-decoration: none;
    color: brown;
}

@media only screen and (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-row, .footer {
        margin-left: 30vw;
    }

    .title {
        margin-top: 20%;
        width: 100vw;
        height: 60px;
    }

    .picture {
        max-width: none;
        width: 100vw;
        height: 20vh;
    }

    .yarn {
        height: 100%;
    }
    
    .abstract {
        display: none;
    }
}